
<body class="text-center body">

<form action="/users/signin" method="post" class="form-signin">
  
  <img class="mb-4" src="/images/signin.png" alt="" width="200" height="200">
  
  <h1 class="h3 mb-3 font-weight-normal  text">Please sign in</h1>
  {{#if error_msg}}
  <div class="alert alert-danger" role="alert">
    {{error_msg}}
  </div>
  {{/if}}
  {{#if success_msg}}
  <div class="alert alert-success" role="alert">
    {{success_msg}}
  </div>
  {{/if}}
  <label for="inputEmail" class="sr-only text">Username</label>
  <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
  
  <label for="inputPassword" class="sr-only text">Password</label>
  <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
  
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> <span class="text">Remember me </span>
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block text " type="submit">Sign in</button>
  <p>Dont have account?<a href="/users/register">Register</a>
  <p><a href="/forgot">Forget Your Password?</a>
  <p class="mt-5 mb-3 text-muted text">&copy; 2017-2018</p>
  <p class="text-muted">Created By AFSAN</p>
</form>
</body>
