@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body
{
    font-family: 'Lato', 'sans-serif';
    }
    
.profile 
{
    min-height: 355px;
    display: inline-block;
    }
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
.alert-successmsg
{
  margin-top: 12px;
  display: block;
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: center;
  text-transform: capitalize;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  animation: rainbow 18s ease infinite;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top:2pc;
}
.erroralert{
  margin-top: 3pc;
  border: 1px solid #ccc;   
  padding: 10px;  
  border-radius: 5px;  
  background: #e6252533;  
  color: brown;  
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider 
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis 
{
    border-top: 4px solid transparent;
    }
.emphasis:hover 
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags 
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu 
{
    background-color: #34495e;    
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider 
{
    background:none;    
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu 
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before 
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }
.editproform{
  border: 1px solid #ccc;
  padding: 14px;
  margin-top: -8px;
  width: 102%;
  margin-left: -9px;
}
.editproh1{
  background-color: darkred;
  padding: 10px;
  color: #f2d6d6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 102%;
  margin-left: -9px;
  font-family:'Merienda';
}